<%= render "shared/header" %>
<div class='main'>

  <%# 画面上部の「人生を変えるフリマアプリ」帯部分 %>
  <div class='title-contents'>
  <h2 class='service-title'>
      ようこそペット自慢広場へ！！！
    </h2>
   <%= link_to image_tag("image6のコピー.png", class:"animal-image"), "#" %>
  </div>
  <%# /画面上部の「人生を変えるフリマアプリ」帯部分  %>

  <%# FURIMAが選ばれる3つの理由部分 %>
  <div class='select-reason-contents'>
    <h2 class='title'>
      アニマルブログで使用できるサービスについて
    </h2>
    <ul class='reason-lists'>
      <li class='list'>
        <%= image_tag "image6のコピー.png", class:"list-pict" %>
        <span class='reason-list-number'>1</span>
        <h3 class='reason-list-text'>
          <span class='reason-list-blue-text'>ペット</span>
          の自慢
        </h3>
        <p class='reason-list-description'>
          うちのペットはこんな芸ができます！などなど、いろんな自慢をしよう。
        </p>
      </li>
      <li class='list'>
        <%= image_tag "image6のコピー.png", class:"list-pict" %>
        <span class='reason-list-number'>2</span>
        <h3 class='reason-list-text'>
          <span class='reason-list-blue-text'>ペット</span>
          の語り合い
        </h3>
        <p class='reason-list-description'>
          みんなでペットについて語り合う！興味の子がいればメッセージでやり取り可能。
        </p>
      </li>
      <li class='list'>
        <%= image_tag "image6のコピー.png", class:"list-pict" %>
        <span class='reason-list-number'>3</span>
        <h3 class='reason-list-text'>
          <span class='reason-list-blue-text'>ペット</span>
          の繋がり
        </h3>
        <p class='reason-list-description'>
          なんでも繋がりは大事！ペットの良いお友達が見つかるかも！
        </p>
      </li>
    </ul>
  </div>
  <%# /FURIMAが選ばれる3つの理由部分 %>

  <%# 画面中央の「会員数日本一位」帯部分 %>
  <div class='ad-contents'>
     <%= link_to image_tag("image6のコピー.png", class:"animal-image"), "#" %>
    <h2 class='ad-title'>
      ペットのツイート一覧
    </h2>
  </div>
  <%# /画面中央の「会員数日本一位」帯部分 %>

  <%# FURIMAの特徴 %>
  <div class='feature-contents'>
   
    <h2 class='title'>
      みんな可愛いね
    </h2>
    <%= link_to "#" do %>
    <ul class='feature-lists'>
      <li class='list'>
        <%= image_tag "image5.png", class:"list-pict" %>
        <h3 class='feature-list-text'>
          <%= "ツイートのタイトル" %>
        </h3>
        <p class='feature-list-description'>
          <%= "ツイートの内容" %>
        </p>
      </li>
      <li class='list'>
        <%= image_tag "image5.png", class:"list-pict" %>
        <h3 class='feature-list-text'>
          <%= "ツイートのタイトル" %>
        </h3>
        <p class='feature-list-description'>
          <%= "ツイートの内容" %>
        </p>
      </li>
      <li class='list'>
        <%= image_tag "image5.png", class:"list-pict" %>
        <h3 class='feature-list-text'>
          <%= "ツイートのタイトル" %>
        </h3>
        <p class='feature-list-description'>
          <%= "ツイートの内容" %>
        </p>
      </li>
    </ul>
    <% end %>
  </div>
  <%# /FURIMAの特徴 %>


    <div class='feature-contents'>
    <%= link_to "#" do %>
    <ul class='feature-lists'>
      <li class='list'>
        <%= image_tag "image5.png", class:"list-pict" %>
        <h3 class='feature-list-text'>
          <%= "ツイートのタイトル" %>
        </h3>
        <p class='feature-list-description'>
          <%= "ツイートの内容" %>
        </p>
      </li>
      <li class='list'>
        <%= image_tag "image5.png", class:"list-pict" %>
        <h3 class='feature-list-text'>
          <%= "ツイートのタイトル" %>
        </h3>
        <p class='feature-list-description'>
          <%= "ツイートの内容" %>
        </p>
      </li>
      <li class='list'>
        <%= image_tag "image5.png", class:"list-pict" %>
        <h3 class='feature-list-text'>
          <%= "ツイートのタイトル" %>
        </h3>
        <p class='feature-list-description'>
          <%= "ツイートの内容" %>
        </p>
      </li>
    </ul>
    <% end %>
  </div>


  <div class='feature-contents'>
    <%= link_to "#" do %>
    <ul class='feature-lists'>
      <li class='list'>
        <%= image_tag "image5.png", class:"list-pict" %>
        <h3 class='feature-list-text'>
          <%= "ツイートのタイトル" %>
        </h3>
        <p class='feature-list-description'>
          <%= "ツイートの内容" %>
        </p>
      </li>
      <li class='list'>
        <%= image_tag "image5.png", class:"list-pict" %>
        <h3 class='feature-list-text'>
          <%= "ツイートのタイトル" %>
        </h3>
        <p class='feature-list-description'>
          <%= "ツイートの内容" %>
        </p>
      </li>
      <li class='list'>
        <%= image_tag "image5.png", class:"list-pict" %>
        <h3 class='feature-list-text'>
          <%= "ツイートのタイトル" %>
        </h3>
        <p class='feature-list-description'>
          <%= "ツイートの内容" %>
        </p>
      </li>
    </ul>
    <% end %>
  </div>


<%= link_to('#', class: 'purchase-btn') do %>
  <span class='purchase-btn-text'>出品する</span>
  <%= image_tag 'icon_camera.png' , size: '185x50' ,class: "purchase-btn-icon" %>
<% end %>
<%= render "shared/footer" %>